.education {
    
    margin-bottom   : 5rem;
    min-height      : max-content;

    .box-container {

        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        .box {
            position   : relative;
            flex       : 1 1 35rem;
            margin-left: 2rem;
            padding    : .8rem 0 2rem 3.5rem;
            border-left: .1rem solid var(--lightColor);

            i {
                position        : absolute;
                top             : 0;
                left            : -2.5rem;
                height          : 4.5rem;
                width           : 4.5rem;
                line-height     : 4.5rem;
                text-align      : center;
                border-radius   : 50%;
                background-color: var(--theme);
                @include fontStyle(1.8rem, var(--white));
            }

            span {
                @include fontStyle(1.8rem, var(--white));
                border-radius   : 5rem;
                padding         : 0.6rem 1.5rem;
                background-color: var(--lightBg);
            }

            h3 {
                @include fontStyle(2rem, var(--white));
                padding    : 3rem 0 1rem 0;
                font-weight: normal;
            }

            p {
                @include fontStyle(1.5rem, var(--white));
                line-height: 2;
            }
        }
    }
}