.portfolio {
    text-align: center;
    margin-bottom: 5rem;

    .box-container {
        @include grid(31rem);
        margin-bottom: 2rem;

        .box {
            position  : relative;
            height    : 30rem;
            overflow  : hidden;
            cursor    : pointer;
            transition: .3s linear;
            display   : none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                display: inline-block;
            }

            &:hover {
                .content {
                    top: 0;
                }
            }

            img {
                height    : 100%;
                width     : 100%;
                object-fit: cover;
            }

            .content {
                position       : absolute;
                top            : -100%;
                left           : 0;
                height         : 100%;
                width          : 100%;
                padding        : 2rem;
                background     : var(--lightBg);
                display        : flex;
                flex-flow      : column;
                align-items    : center;
                justify-content: center;

                h3 {
                    @include fontStyle(2.5rem, var(--white));
                    text-transform: uppercase;
                    font-weight   : normal;
                }

                p {
                    @include fontStyle(1.5rem, var(--lightColor));
                    padding    : 1rem 0;
                    line-height: 2;
                }

                a {
                    @include fontStyle(2rem, var(--theme));

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
    }
}