.skills {
    margin-bottom: 15rem;
    // min-height   : 50vh;

    .box-container {
        @include grid(16rem);

        .box {
            text-align      : center;
            padding         : 2rem;
            border-radius   : .5rem;
            box-shadow      : var(--boxShadow);
            background-color: var(--lightBg);
            cursor          : pointer;

            &:hover {
                background-color: #fff;

                p {
                    color: var(--black);
                }
            }

            img {
                margin       : 1rem 0;
                height       : 10rem;
                // width     : 10rem;
            }

            p {
                @include fontStyle(2rem, var(--white));
                text-transform: uppercase;
            }
        }
    }
}