/* 21 - Feb - 2022 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --theme     : #dc143c;
    --white     : #e2e2e2;
    --black     : #252525;
    --lightBg   : #3d3d3d;
    --lightColor: #aaa;
    --boxShadow : 0 .5rem 1rem rgba(0, 0, 0, .7);
}

// :root {
//     --theme     : #dc143c; 
//     --white     : #fff;
//     --black     : #0d0d0d;
//     --lightBg   : #1a1a1a;
//     --lightColor: #aaa;
// }


* {
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : none;
    list-style     : none;
    user-select    : none;
    text-decoration: none !important;
    text-transform : capitalize;
    box-sizing     : border-box;
    font-family    : 'Poppins', sans-serif;
    transition     : all .3s linear;
}

@import 'mixing';


/*
    100% / 16px = 6.25%
    6.25% == 1px 

    6.25% * 10 = 62.5% 
    62.5% == 10px
*/
html {
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-behavior   : smooth;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--black);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--theme);
    }
}


body {
    background    : var(--black);
    padding-bottom: 6.5rem;
}

/* 
Style Scale for all 
but in responsive - its resizing at 991px
*/
section {
    padding         : 2rem 9%;
    // margin-bottom: 3rem;

    // &:last-of-type {
    //     margin-bottom: 0;
    // }
    // min-height: 90vh;
}

.btn {
    display         : inline-block;
    margin-top      : 1rem;
    border-radius   : 5rem;
    background-color: var(--theme);
    padding         : .8rem;
    padding-left    : 2rem;
    cursor          : pointer;
    @include fontStyle(1.8rem, var(--white));

    &:hover i {
        margin-left: 1.5rem;
    }

    i {
        height          : 4rem;
        width           : 4rem;
        line-height     : 4rem;
        margin-left     : .5rem;
        text-align      : center;
        border-radius   : 50%;
        background-color: var(--white);
        transition      : .2s linear;
        @include fontStyle(1.8rem, var(--theme));
    }
}

.heading {
    margin-bottom : 3rem;
    text-align    : center;
    text-transform: uppercase;
    @include fontStyle(6vw, var(--white));

    span {
        text-transform: uppercase;
        color         : var(--theme);
    }
}



@import 'header';
@import 'home';
@import 'about';
@import 'skills';
@import 'education';
@import 'portfolio';
@import 'contact';
@import 'blogs';
@import 'responsiveness';